.backg{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(pics/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alien {
    border: none;
    margin: 1rem auto;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 16px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--theme);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  .navbar {
    height: 56px;
    box-shadow: 0 5px 200px var(--theme);
    position: sticky;
    top: 0;
    z-index: 9999;
    animation: breathing 5s ease-out infinite normal;
  }
  
  .navbar.noshadow {
    box-shadow: 0 0 0 var(--background);
    animation: none;
  }
  
  .navitems {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 10px;
    background: var(--background);
  }

  .navlogo:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  .navitem {
    border-radius: 35px;
    padding: 10px 8px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    color: var(--text);
  }
  
  .navitem[current] {
    background: var(--theme);
    color: var(--text-secondary);
  }